footer{
    background-color: $mainColor;
    padding: 6px 20px;
    border-top: solid 0.5px $blackColor;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
        width: 35px;
        height: 35px;
        fill: $mainColorFonts;
        margin-right: 10px;
        text-decoration: none;
    }
    ul{
        list-style: none;
        line-height: 18px;
        li a{
            color: $mainColorFonts;
            font-size: $textLg;
            text-decoration: none;
        }
    }
}
/* ends footer elements */