/* CSS Nav */
nav{
    background-color: $mainColor; 
    width: $width100percent;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 0.5px $blackColor;
    transition: all ease .65s;
    z-index: 100;

    ul{
        list-style: none;
        display: flex;
        margin: $ceroMargin;
        padding: $ceroPadding;
        
        li{
            margin: 22px 18px;
            padding-left: 20px;
            display: inline-flex;
            a{
                font-size: 1.6rem;
                text-decoration: none;
                color: $mainColorFonts;
                margin-right: 20px;
                font-weight: $textBolder;
            }
        }
    }

}


//botonera de nav
.botonera{
    background-color: $botoneraColor;
    img{
        width: 200px;
    }
    a{
        color: $mainColor;
        font-size: $textLg;
        font-weight: $textBolder;
    }
}

// configuracion logo paraty de la nav
.logo-paraty{
    background-color: none;
    margin-bottom: 5px;
    margin-top: 6px;
    width: 35%;
    padding-left: 20px;
}

