//variables globales a todo el proyecto

//las variables se definen con el signo $ delante

//Colors
$mainColor: #F7D7CB;
$whiteColor: rgb(243, 237, 237);
$blackColor: rgb(8, 8, 8);
$bgColorDelivery: #B0A09E;
$bgContenedor: hsl(48, 22%, 91%, 0.302);
$colorTxtBotoneraCards: rgba(75, 99, 125, 0.85);


//Fonts
$mainFont: 'Merriweather', serif;

// Color de las fonts
$mainColorFonts: #4B637D;
$secondColorFontsp: #9EA7B0;
$botoneraColor: #F7D7CB;
$deliveryColor: #0A1326;

//sizing fonts
$textXSm: 0.6em;
$textSm: 0.8em;
$textMd: 1em;
$textLg: 1.4em;
$textXl:2em;
    // botonera Nav
$textBotoneraNav: 1.8em;
    //sizing fonts botonera cards
$sizeTextBotoneraCards: 1.2em;
$fontSizeCards: 1.7em;

//weight
$textBold:600;
$textRegular:400;
$textLight:300;
$textBolder: bolder;

//width
$width100percent: 100%;
$ceroPadding: 0;
$ceroMargin: 0;

//Style
